html {
    font-size: 14px;
}

body {
    background-image: url(360_F_81998709_gbGqzu2eO8XmUzRw11A5xVM8LOGycgi9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --main-border-color: black;
}

table,
th,
td {
    border: 1px solid var(--main-border-color);
}


tbody tr:nth-child(odd) {
    background-color: blue;
}

tbody tr:nth-child(even) {
    background-color: red;
}

td {
    border: 1px solid
}

p {
    color: black;
}